<link rel="stylesheet" href="/style/markdown.css" />
<div class="middle">
  <span class="post-title"><%= page.title %></span>
  <article class="markdown-body">
    <%- page.content %>
  </article>
</div>
